@media screen and (min-width: 1000px) {
  .HelpDiv {
    width: 90%;
    height: auto;
    padding: 10px;
    background-color: white;
    border: 2px solid orangered;
    margin: auto;
    left: 0px;
    right: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
