<!--
<ion-header>
    <ion-toolbar color="primary">
        <ion-title>Cours</ion-title>
    </ion-toolbar>
</ion-header>
-->

<section class="header">
    <ion-img class="logoHeader" src="assets/images/afriwhite.png"> </ion-img>
</section>

<ion-content>
    <h5 style="margin-top: 10px;" text-center>Forum</h5>

    <ion-card *ngIf="datas">
        <ion-card-header>
            <div class="header">
                <!-- <ion-label>Tous les Themes</ion-label> -->
                <ion-button color="primary" (click)="addPost()" size="small">
                    Poser une question</ion-button>
            </div>
        </ion-card-header>

        <ion-card-content>
            <ion-item (click)="commentPost(data)" lines="none" *ngFor="let data of datas">
                <ion-avatar slot="start">
                    <img src="https://picsum.photos/50/50" />
                </ion-avatar>

                <ion-label>
                    <h2 style="color: #ff8c1d;"><b>{{data.post_title}}</b></h2>
                    <p>{{data.post_content}}</p>
                </ion-label>

                <ion-icon class="iconElement" icon="assets/icon/dialogue-1.svg"></ion-icon>
            </ion-item>
        </ion-card-content>
    </ion-card>
    <div *ngIf="!datas && !show" style="display: flex; justify-content: center; align-items: center;">
        <ion-spinner name="bubbles"></ion-spinner>
        <p>Chargement...</p>
    </div>
    <div *ngIf="show">
        <div style="
        margin: 70% 0;
        display: flex;
        align-items: center;
        justify-content: center;
        align-content: center;
      ">
            <div (click)="payment() " class="btn">
                S'abonner
            </div>
        </div>
    </div>
</ion-content>