<!--
<ion-header>
    <ion-toolbar color="primary">
        <ion-title>Cours</ion-title>
    </ion-toolbar>
</ion-header>
-->

<section class="header">
  <ion-img class="logoHeader" src="assets/images/afrilangues.png"> </ion-img>
</section>

<ion-content>
  <div
    *ngIf="!datas"
    style="display: flex; justify-content: center; align-items: center"
  >
    <ion-spinner name="bubbles"></ion-spinner>
    <p>Chargement...</p>
  </div>

  <div *ngIf="datas">
    <h5
      style="color: black; font-weight: bold; padding-bottom: 1%"
      text-center
      class="LanguageMobileDiv"
    >
      Mes Statistiques
    </h5>

    <div class="LanguageMobileDiv">
      <div class="info">
        <div (click)="onGetStatistics()" class="info__left">
          <p>{{datas.length}}</p>
          <p>Mots Appris</p>
        </div>
        <div (click)="onGetStatistics2()" class="info__rigth">
          <p>{{datasw.length}}</p>
          <p>Mots à revoir</p>
        </div>
      </div>
    </div>

    <h5 text-center style="margin-top: 20px" class="LanguageDesktopDiv">
      <b class="MainTitle">Mes Statistiques</b>
    </h5>

    <div class="LanguageDesktopDiv">
      <div class="LanguageDesktopDiv2">
        <div class="info">
          <!-- <div (click)="onGetStatistics()" class="card Y">
            <div class="icon1">
              <ion-icon name="trophy"></ion-icon>
            </div>
            <div>
              <h1>{{datas.length}}</h1>
              <h3>Mots Appris</h3>
            </div>
          </div> -->
          <div (click)="onGetStatistics2()" class="card2 R">
            <div class="icon2">
              <ion-icon name="analytics"></ion-icon>
            </div>
            <div>
              <h1>{{datasw.length}}</h1>
              <h3>Mots à revoir</h3>
            </div>
          </div>
          <!-- <div (click)="onGetStatistics()" class="card B">
            <div class="icon1">
              <ion-icon name="analytics"></ion-icon>
            </div>
            <div>
              <h1>{{datas.length}}</h1>
              <h3>Mots Appris</h3>
            </div>
          </div> -->
          <div (click)="onGetStatistics2()" class="card2 G">
            <div class="icon2">
              <ion-icon name="podium"></ion-icon>
            </div>
            <div>
              <h1>{{datas.length}}</h1>
              <h3>Mots Appris</h3>
            </div>
          </div>
        </div>
      </div>
    </div>

    <ion-card>
      <ion-card-content>
        <div class="LanguageMobileDiv">
          <div (click)="clickStatistic(com)" *ngFor="let com of data">
            <ion-item *ngIf="com.question_type != 'Dialogue'  ">
              <ion-avatar slot="start">
                <img src="https://picsum.photos/50/50" />
              </ion-avatar>
              <ion-label class="bg">
                <h2 style="color: #ff8c1d" class="h2h">
                  <b>{{niceText(com.question) }}</b>
                </h2>
              </ion-label>
            </ion-item>
          </div>
        </div>

        <div class="LanguageDesktopDiv">
          <div class="LanguageDesktopDiv2">
            <div (click)="clickStatistic(com)" *ngFor="let com of data">
              <ion-item *ngIf="com.question_type != 'Dialogue'  " lines="none">
                <ion-avatar slot="start">
                  <img src="https://picsum.photos/50/50" />
                </ion-avatar>
                <ion-label class="bg">
                  <h2 style="color: #ff8c1d" class="h2h">
                    <b>{{niceText(com.question) }}</b>
                  </h2>
                </ion-label>
              </ion-item>
            </div>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
