<section class="header">



    <ion-img class="logoHeader" src="assets/images/afriwhite.png">

    </ion-img>
</section>




<ion-content *ngIf="user">


    <!-- <h5 text-center style="margin-top: 10px">langue courant</h5>

  <div class="rounded">
    <ion-item lines="none">
      <ion-icon style="height: 13px; color:#ff5e06" slot="start" icon="assets/icon/arrow-point-to-right.svg" ></ion-icon>
      <ion-label>{{currentLangue.name}}
      </ion-label>
    </ion-item>
  </div>
-->



    <h5 text-center style="margin-top: 10px">Choisir une langue</h5>


    <div class="rounded " *ngFor="let langue of langues">
        <ion-item [ngClass]="servLanguage == langue.id ? 'couleur' : 'normal' " lines="none" (click)="itemClick(langue)">

            <ion-icon style="height: 13px; " slot="start" icon="assets/icon/arrow-point-to-right.svg"></ion-icon>
            <ion-label> {{langue.name}}
            </ion-label>

            <ion-icon style="height: 13px; " slot="end" icon="assets/icon/online-course.svg"></ion-icon>
        </ion-item>
    </div>

</ion-content>