.cercles {
    /* color: #ff8c1d;
    background-color: white;
    position: relative;
    border-radius: 100px;
    height: 130px;
    width: 130px;
    margin-left: 14%;
    bottom: -25%;

    p {
        position: absolute;
        margin-top: 82px;
    }*/
    padding: 0px 15px;
}

.cercle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    flex-direction: column;
    padding: 10px;
    border-radius: 80px;
    border-bottom: 1px solid #ff8c1d;
    .iconElement {
        color: #ff8c1d;
    }
}

.btn {
    margin: 5px;
    /* height: 30px; */
    padding: 6px 30px;
    border-radius: 8px;
    line-height: 30px;
    font-weight: bold;
    color: white;
    text-align: center;
    background-image: linear-gradient(to right, #dfb401, #df011f)
}

@media screen and (min-width:1000px) {
    .cercle{
        background-color: white;
        box-shadow: 0px 10px 26px -21px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: 0px 10px 26px -21px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 10px 26px -21px rgba(0, 0, 0, 0.75);
    }
    .hide {
        display: none;
        visibility: hidden;
      }
     
      .MainTitle {
        margin-top: 10px;
        width: auto;
        height: auto;
        color: white;
        border-radius: 10px;
        background-color: #df3d15;
        padding: 10px;
      }
      .leftCard {
        width: 35%;
        height: 60px;
      }
      .rightCard {
        width: 35%;
        height: 60px;
        overflow: hidden;
      }
    
}