<ion-content>
    <ion-tabs>
        <ion-tab-bar slot="bottom">
            <ion-tab-button (click)="test()" tab="cours">
                <ion-icon style="height: 24px;" icon="assets/icon/online-course.svg"></ion-icon>
                <!--  <ion-icon name="book"></ion-icon>-->
                <ion-label>Cours</ion-label>
            </ion-tab-button>

            <ion-tab-button tab="statistics">
                <ion-icon style="height: 24px;" icon="assets/icon/statistics.svg"></ion-icon>
                <ion-label>Réviser</ion-label>
            </ion-tab-button>

            <ion-tab-button tab="thematics">
                <ion-icon style="height: 24px;" icon="assets/icon/scrabble.svg"></ion-icon>
                <ion-label>Lexique</ion-label>
            </ion-tab-button>

            <ion-tab-button tab="forum">
                <ion-icon style="height: 24px;" icon="assets/icon/meeting.svg"></ion-icon>
                <ion-label>Forum</ion-label>
            </ion-tab-button>

            <ion-tab-button tab="comptes">
                <ion-icon style="height: 24px;" icon="assets/icon/user.svg"></ion-icon>
                <ion-label>Compte</ion-label>
            </ion-tab-button>
        </ion-tab-bar>
    </ion-tabs>
</ion-content>