<!--
<ion-header>
    <ion-toolbar color="primary">
        <ion-title>Cours</ion-title>
    </ion-toolbar>
</ion-header>
-->

<section class="header">
    <ion-img class="logoHeader" src="assets/images/afriwhite.png"> </ion-img>
</section>

<ion-content>
    <div *ngIf="user">
        <h5 text-center style="margin-top: 10px;">
            Mes cours - <span style="color: #ff5e06;">{{ showName() }}</span>
        </h5>

        <div class="rounded" *ngFor="let topic of topics |orderBy:'display_order' ; let index = index">
            <div (click)="topicClick(topic,user,index,user.email)">
                <ion-icon style="height: 20px; color: #ff5e06;" slot="start" icon="assets/icon/online-course.svg"></ion-icon>
                <ion-label class="label">
                    {{topic.name}}
                </ion-label>
            </div>
        </div>
    </div>
    <div *ngIf="!user" style="display: flex; justify-content: center; align-items: center;">
        <ion-spinner name="bubbles"></ion-spinner>
        <p>Chargement...</p>
    </div>
</ion-content>