<!--
<ion-header>
    <ion-toolbar>

        <ion-buttons slot="start">
            <ion-back-button defaultHref="/intro"></ion-back-button>
        </ion-buttons>


    </ion-toolbar>
</ion-header>
-->

<section class="header loginmobiledisnone">
  <ion-img class="logoHeader" src="assets/images/afriwhite-map.png"> </ion-img>
</section>

<ion-content>
  <div class="loginmobiledisnone">
    <h5 text-center style="margin-top: 10px">Création de compte</h5>

    <form #f="ngForm" (ngSubmit)="onSubmit(f.value)">
      <ion-list style="margin: 15px">
        <div class="rounded">
          <div class="iconInput">
            <ion-icon
              style="height: 20px; color: #ff5e06"
              slot="start"
              icon="assets/icon/user.svg"
            ></ion-icon>
            <ion-input
              type="text"
              name="nompre"
              [(ngModel)]="nompre"
              placeholder="Nom & Prénom"
            ></ion-input>
          </div>
        </div>

        <div class="rounded">
          <div class="iconInput">
            <ion-icon
              style="height: 20px; color: #ff5e06"
              slot="start"
              icon="assets/icon/envelope.svg"
            >
            </ion-icon>
            <ion-input
              type="text"
              name="email"
              [(ngModel)]="email"
              placeholder="Email"
            ></ion-input>
          </div>
        </div>

        <div class="rounded">
          <div class="iconInput">
            <ion-icon
              style="height: 20px; color: #ff5e06"
              slot="start"
              icon="assets/icon/address.svg"
            >
            </ion-icon>
            <ion-input
              type="text"
              name="adresse"
              [(ngModel)]="adresse"
              placeholder="Adresse"
            ></ion-input>
          </div>
        </div>

        <div class="rounded">
          <div class="iconInput">
            <ion-icon
              style="height: 20px; color: #ff5e06"
              slot="start"
              icon="assets/icon/phone-call.svg"
            >
            </ion-icon>
            <ion-input
              type="number"
              name="telephone"
              [(ngModel)]="telephone"
              placeholder="Téléphone"
            >
            </ion-input>
          </div>
        </div>

        <div class="rounded">
          <div class="iconInput">
            <ion-icon
              style="height: 20px; color: #ff5e06"
              slot="start"
              icon="assets/icon/lock.svg"
            ></ion-icon>
            <ion-input
              type="password"
              name="password"
              [(ngModel)]="password"
              placeholder="Mot de passe"
            >
            </ion-input>
          </div>
        </div>

        <div class="rounded">
          <div class="iconInput">
            <ion-icon
              style="height: 20px; color: #ff5e06"
              slot="start"
              icon="assets/icon/confirm.svg"
            >
            </ion-icon>
            <ion-input
              type="password"
              name="passwordConfirm"
              [(ngModel)]="passwordConfirm"
              placeholder="Confirmation de mot de passe"
            >
            </ion-input>
          </div>
        </div>
      </ion-list>

      <div style="display: flex; align-items: center; justify-content: center">
        <button class="btn">
          <strong style="font-size: 17px"> Créer un compte</strong>
        </button>
      </div>
    </form>
  </div>
  <div class="LoginDesktopDiv">
    <div class="contentdesktop">
      <div>
        <div class="UserLogo">
          <img
            src="https://img.icons8.com/color/48/ffffff/male-female-user-group.png"
          />
        </div>
        <form #f="ngForm" (ngSubmit)="onSubmit(f.value)">
          <ion-list style="margin: 15px">
            <div class="rounded">
              <div class="iconInput">
                <ion-icon
                  style="height: 20px; color: #ff5e06"
                  slot="start"
                  icon="assets/icon/user.svg"
                ></ion-icon>
                <ion-input
                  type="text"
                  name="nompre"
                  [(ngModel)]="nompre"
                  placeholder="Nom & Prénom *"
                ></ion-input>
              </div>
            </div>

            <div class="rounded">
              <div class="iconInput">
                <ion-icon
                  style="height: 20px; color: #ff5e06"
                  slot="start"
                  icon="assets/icon/envelope.svg"
                >
                </ion-icon>
                <ion-input
                  type="text"
                  name="email"
                  [(ngModel)]="email"
                  placeholder="Email *"
                ></ion-input>
              </div>
            </div>

            <div class="rounded">
              <div class="iconInput">
                <ion-icon
                  style="height: 20px; color: #ff5e06"
                  slot="start"
                  icon="assets/icon/address.svg"
                >
                </ion-icon>
                <ion-input
                  type="text"
                  name="adresse"
                  [(ngModel)]="adresse"
                  placeholder="Adresse"
                ></ion-input>
              </div>
            </div>

            <div class="rounded">
              <div class="iconInput">
                <ion-icon
                  style="height: 20px; color: #ff5e06"
                  slot="start"
                  icon="assets/icon/phone-call.svg"
                >
                </ion-icon>
                <ion-input
                  type="number"
                  name="telephone"
                  [(ngModel)]="telephone"
                  placeholder="Téléphone"
                >
                </ion-input>
              </div>
            </div>
            <span>
              <div class="rounded inlining">
                <div class="iconInput">
                  <ion-icon
                    style="height: 20px; color: #ff5e06"
                    slot="start"
                    icon="assets/icon/lock.svg"
                  ></ion-icon>
                  <ion-input
                    type="password"
                    name="password"
                    [(ngModel)]="password"
                    placeholder="Mot de passe *"
                  >
                  </ion-input>
                </div>
              </div>

              <div class="rounded inlining">
                <div class="iconInput">
                  <ion-icon
                    style="height: 20px; color: #ff5e06"
                    slot="start"
                    icon="assets/icon/confirm.svg"
                  >
                  </ion-icon>
                  <ion-input
                    type="password"
                    name="passwordConfirm"
                    [(ngModel)]="passwordConfirm"
                    placeholder="Confirmation *"
                  >
                  </ion-input>
                </div>
              </div>
            </span>
          </ion-list>

          <div
            style="
              display: flex;
              align-items: center;
              justify-content: center;
              margin-bottom: 20px;
            "
          >
            <button class="btn desktoploginIBTN">
              <strong style="font-size: 17px"> Créer un compte</strong>
            </button>
          </div>

          <div
            style="
              display: flex;
              align-items: center;
              justify-content: center;
              margin-bottom: 50px;
            "
          >
            <button
              class="btn desktoploginIBTN"
              routerLink="/login"
              style="width: 40% !important"
            >
              <strong style="font-size: 17px">Connexion</strong>
            </button>
          </div>
        </form>
      </div>
    </div>
    <div class="imgdesktop">
      <div class="AfriLogoDiv">
        <ion-img class="logo logoAfrica" src="assets/images/afrilangues.png">
        </ion-img>
      </div>
    </div>
  </div>

  <div class="ShowMobileOn">
    <div class="contentdesktop">
      <div>
        <div class="UserLogo">
          <img
            src="https://img.icons8.com/color/48/ffffff/male-female-user-group.png"
          />
        </div>
        <form #f="ngForm" (ngSubmit)="onSubmit(f.value)">
          <ion-list style="margin: 15px">
            <div class="rounded">
              <div class="iconInput">
                <ion-icon
                  style="height: 20px; color: #ff5e06"
                  slot="start"
                  icon="assets/icon/user.svg"
                ></ion-icon>
                <ion-input
                  type="text"
                  name="nompre"
                  [(ngModel)]="nompre"
                  placeholder="Nom & Prénom"
                ></ion-input>
              </div>
            </div>

            <div class="rounded">
              <div class="iconInput">
                <ion-icon
                  style="height: 20px; color: #ff5e06"
                  slot="start"
                  icon="assets/icon/envelope.svg"
                >
                </ion-icon>
                <ion-input
                  type="text"
                  name="email"
                  [(ngModel)]="email"
                  placeholder="Email"
                ></ion-input>
              </div>
            </div>

            <div class="rounded">
              <div class="iconInput">
                <ion-icon
                  style="height: 20px; color: #ff5e06"
                  slot="start"
                  icon="assets/icon/address.svg"
                >
                </ion-icon>
                <ion-input
                  type="text"
                  name="adresse"
                  [(ngModel)]="adresse"
                  placeholder="Adresse"
                ></ion-input>
              </div>
            </div>

            <div class="rounded">
              <div class="iconInput">
                <ion-icon
                  style="height: 20px; color: #ff5e06"
                  slot="start"
                  icon="assets/icon/phone-call.svg"
                >
                </ion-icon>
                <ion-input
                  type="number"
                  name="telephone"
                  [(ngModel)]="telephone"
                  placeholder="Téléphone"
                >
                </ion-input>
              </div>
            </div>
            <div class="rounded inlining">
              <div class="iconInput">
                <ion-icon
                  style="height: 20px; color: #ff5e06"
                  slot="start"
                  icon="assets/icon/lock.svg"
                ></ion-icon>
                <ion-input
                  type="password"
                  name="password"
                  [(ngModel)]="password"
                  placeholder="Mot de passe"
                >
                </ion-input>
              </div>
            </div>

            <div class="rounded inlining">
              <div class="iconInput">
                <ion-icon
                  style="height: 20px; color: #ff5e06"
                  slot="start"
                  icon="assets/icon/confirm.svg"
                >
                </ion-icon>
                <ion-input
                  type="password"
                  name="passwordConfirm"
                  [(ngModel)]="passwordConfirm"
                  placeholder="Confirmation"
                >
                </ion-input>
              </div>
            </div>
          </ion-list>

          <div
            style="
              display: flex;
              align-items: center;
              justify-content: center;
              margin-bottom: 20px;
            "
          >
            <button class="btn desktoploginIBTN">
              <strong style="font-size: 14px"> Créer un compte</strong>
            </button>
          </div>

          <div
            style="
              display: flex;
              align-items: center;
              justify-content: center;
              margin-bottom: 50px;
            "
          >
            <button
              class="btn desktoploginIBTN"
              routerLink="/login"
              style="width: 40% !important"
            >
              <strong style="font-size: 14px">Connexion</strong>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</ion-content>
