<ion-content text-center>
    <div class="intromobiledisnone">
    <ion-img class="logoAf" src="assets/images/afrilangues.png"> </ion-img>

    <ion-img class="logo" src="assets/images/intro.png"> </ion-img>

    <div>
        <h5>
            Apprendre facilement une langue africaine
        </h5>
    </div>

    <div style="margin-top: 20px;">
        <p>
            Grâce à des contenus réalistes,
            <br /> ludiques et complets
        </p>
    </div>

    <div style="display: flex; align-items: center; justify-content: center;">
        <button class="btn desktopUIBTN" routerLink="/introlangues" style="width: 90%; margin-left: 5%;" type="submit"
            size="default" expand="block">
            <strong style="font-size: 17px;"> Choisir une langue</strong>
        </button>
    </div>

    <div>
        <p>
            Déjà membre ?
            <a routerLink="/login" style="color: #e07a0c; margin-left: -8px; text-decoration: none;">Connectez-vous</a>
        </p>
    </div>
</div>

    <div class="LoginDesktopDiv">
        <div class="imgdesktop">
            <ion-img class="logoAf logoAfdesk" src="assets/images/afriwhite.png"> </ion-img>

            <ion-img class="logo" src="assets/images/intro.png"> </ion-img>
        </div>
        <div class="contentdesktop">
            <div>
                <h5>
                    Apprendre facilement une langue africaine
                </h5>
            </div>

            <div style="margin-top: 20px;">
                <p>
                    Grâce à des contenus réalistes,
                    <br /> ludiques et complets
                </p>
            </div>

            <div style="display: flex; align-items: center; justify-content: center;">
                <button class="btn desktopUIBTN" routerLink="/introlangues" style="width: 90%; margin-left: 5%;"
                    type="submit" size="default" expand="block">
                    <strong style="font-size: 17px;"> Choisir une langue</strong>
                </button>
            </div>

            <div>
                <p>
                    Déjà membre ?
                    <a routerLink="/login" class="logindesktop"
                        style="color: #e07a0c; margin-left: -8px; text-decoration: none;">Connectez-vous</a>
                </p>
            </div> 
        </div>
    </div>


</ion-content>